<div>
  <h1>{{title}}</h1>
  <div class="container input" id = "search-form">
    <form>
      <input type="text" placeholder="Search..." class="search" required>
      <button type ="submit" class="button" value="Search"><img src = "resources/Minimal-Magnifying-Glass.png" alt = "magnifying glass"></button>
    </form>
  </div>
  <div class="container">
    <h2>Language:</h2>
  </div>
  <div class="container">
    <div class="form-group">
        <div class="btn-lg btn-group btn-group-justified btn-group-toggle" data-toggle="button">
            <button type="radio" class="btn btn-lg btn-info" id="Java">Java</button>
            <button type="radio" class="btn btn-lg btn-info" id="Python">Python</button>
            <button type="radio" class="btn btn-lg btn-info" id="C++">C++</button>
            <button type="radio" class="btn btn-lg btn-info" id="HTML">HTML</button>
            <button type="radio" class="btn btn-lg btn-info" id="CSS">CSS</button>
            <button type="radio" class="btn btn-lg btn-info" id="JavaScript">JavaScript</button>
            <button type="radio" class="btn btn-lg btn-info" id="Ruby">Ruby</button>
            <button type="radio" class="btn btn-lg btn-info" id="PHP">PHP</button>
            <button type="radio" class="btn btn-lg btn-info" id="C#">C#</button>
            {{!-- <button type="button" class="btn btn-info" id="Java">Java</button>
            <button type="button" class="btn btn-info" id="Python">Python</button>
            <button type="button" class="btn btn-info" id="C++">C++</button> --}}
        </div>
    </div>
  </div>
  <div class="container">
    <h2>License:</h2>
  </div>
  <div class="container">
      <div class="form-group">
          <div class="btn-lg btn-group btn-group-justified btn-group-toggle" data-toggle="button">
              <button type="radio" class="btn btn-lg btn-info" id="GNU">GNU GPLv3</button>
              <button type="radio" class="btn btn-lg btn-info" id="MIT">MIT License</button>
              <button type="radio" class="btn btn-lg btn-info" id="Apache">Apache License 2.0</button>
          </div>
      </div>
  </div>
</div>
