<div>
  <h1>{{title}}</h1>
  <div class="container input" id = "search-form">
    <form>
      <input type="text" placeholder="Search..." class="search" required>
      <button type ="submit" class="button" value="Search"><img src = "resources/Minimal-Magnifying-Glass.png" alt = "magnifying glass"></button>
    </form>
  </div>
  <div class="container">
    <p>Language:</p>
  </div>
  <div class="container">
    <label class="container">Java
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">C++
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Python
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">C#
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Swift
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Javascript
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">HTML
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">CSS
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Ruby
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">R
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="container">
    <p>License:</p>
  </div>
  <div class="container">
    <label class="container">MIT
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">GNU
      <input type="checkbox" class="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
