body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  margin-bottom: 350px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-text {
  font-size: 25px;
}

img {
  height: 43px;
  width: 48px;
}
